{% extends 'base.html' %}
{% load static %}
{% block head %}



    <!-- HOME -->
    <section class="section-hero overlay inner-page bg-image" style="background-image: url('images/hero_1.jpg');" id="home-section">
      <div class="container">
        <div class="row">
          <div class="col-md-7">
            <h1 class="text-white font-weight-bold">Post A Job</h1>
            <div class="custom-breadcrumbs">
              <a href="#">Home</a> <span class="mx-2 slash">/</span>
              <a href="#">Job</a> <span class="mx-2 slash">/</span>
              <span class="text-white"><strong>Post a Job</strong></span>
            </div>
          </div>
        </div>
      </div>
    </section>


    <section class="site-section">
      <div class="container">

        <div class="row align-items-center mb-5">
          <div class="col-lg-8 mb-4 mb-lg-0">
            <div class="d-flex align-items-center">
              <div>
                <h2>Post A Job</h2>
              </div>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="row">
              <div class="col-6">
                <a href="#" class="btn btn-block btn-light btn-md"><span class="icon-open_in_new mr-2"></span>Preview</a>
              </div>
              <div class="col-6">
                <a href="#" class="btn btn-block btn-primary btn-md">Save Job</a>
              </div>
            </div>
          </div>
        </div>
          <form method="POST" enctype="multipart/form-data">
              {% csrf_token %}
        <div class="row mb-5">
          <div class="col-lg-12">
            <form class="p-4 p-md-5 border rounded" method="post">
              <h3 class="text-black mb-5 border-bottom pb-2">Job Details</h3>

              <div class="form-group">
                <label for="company-website-tw d-block">Upload Featured Image</label> <br>
                <label class="btn btn-primary btn-md btn-file">
                  Browse File<input type="file" name="f" hidden>
                </label>
              </div>

              <div class="form-group">
                <label for="email">Email</label>
                <input type="text" name="e" class="form-control" id="email" placeholder="you@yourdomain.com">
              </div>
              <div class="form-group">
                <label for="job-title">Job Title</label>
                <input type="text" name="t" class="form-control" id="job-title" placeholder="Product Designer">
              </div>
              <div class="form-group">
                <label for="job-location">Location</label>
                <input type="text" name="l" class="form-control" id="job-location" placeholder="e.g. New York">
              </div>

              <div class="form-group">
                <label for="job-region">Job Region</label>
                  <input type="text" name="r" class="form-control"  placeholder="e.g. New York">
<!--                <select class="w-100 p-1" title="Select Region" name="r">-->
<!--                      <option>Anywhere</option>-->
<!--                      <option>San Francisco</option>-->
<!--                      <option>Palo Alto</option>-->
<!--                      <option>New York</option>-->
<!--                      <option>Manhattan</option>-->
<!--                      <option>Ontario</option>-->
<!--                      <option>Toronto</option>-->
<!--                      <option>Kansas</option>-->
<!--                      <option>Mountain View</option>-->
<!--                    </select>-->
              </div>

              <div class="form-group">
                <label >Job Type</label>
                <select class="w-100 p-1" name="ty" title="Select Job Type">
                  <option>Part Time</option>
                  <option>Full Time</option>
                </select>
              </div>
                 <div class="form-group">
                <label for="email">Vaccancy</label>
                <input type="number" name="v" class="form-control"  placeholder="Enter vaccancy">

              </div>
                  <div class="form-group">
                <label >Published_date</label>
                <input type="date" name="appli" class="form-control">
              </div>
                 <div class="form-group">
                <label >Application_deadline</label>
                <input type="date" name="dead" class="form-control">
              </div>
                  <div class="form-group">
                <label for="email">Salary</label>
                <input type="number" name="s" class="form-control"  placeholder="Enter salary">
              </div>
                 <div class="form-group">
                <label for="job-region">Experience</label>
                <select class="w-100 p-1" title="Select Region" name="exp">
                      <option>0</option>
                      <option>1-2</option>
                      <option>3-5</option>
                      <option>5-10</option>
                      <option>10-15</option>
                      <option>15+</option>
                    </select>
              </div>
              <div class="form-group">
                <label for="job-description">Job Description</label>
                <div class="editor" id="editor-1">
<!--                  <p>Write Job Description!</p>-->
                  <textarea name="jd" rows="14" cols="112"></textarea>
                </div>
              </div>


              <h3 class="text-black my-5 border-bottom pb-2">Company Details</h3>
              <div class="form-group">
                <label for="company-name">Company Name</label>
                <input type="text" name="c" class="form-control" id="company-name" placeholder="e.g. New York">
              </div>

              <div class="form-group">
                <label for="company-tagline">Tagline (Optional)</label>
                <input type="text" name="tg" class="form-control" id="company-tagline" placeholder="Tagline">
              </div>

              <div class="form-group">
                <label for="job-description">Company Description</label>
                <div class="editor" id="editor-1">
                  <textarea name="cd" rows="14" cols="112"></textarea>
                </div>
              </div>

              <div class="form-group">
                <label for="company-website">Website (Optional)</label>
                <input type="text" name="w" class="form-control" id="company-website" placeholder="https://">
              </div>

              <div class="form-group">
                <label for="company-website-fb">Facebook Username (Optional)</label>
                <input type="text" name="fb" class="form-control" id="company-website-fb" placeholder="companyname">
              </div>

              <div class="form-group">
                <label for="company-website-tw">Twitter Username (Optional)</label>
                <input type="text" name="tw" class="form-control" id="company-website-tw" placeholder="@companyname">
              </div>
              <div class="form-group">
                <label for="company-website-tw">Linkedin Username (Optional)</label>
                <input type="text" name="ld" class="form-control" id="company-website-tw" placeholder="companyname">
              </div>

              <div class="form-group">
                <label for="company-website-tw d-block">Upload Logo</label> <br>
                <label class="btn btn-primary btn-md btn-file">
                  Browse File<input type="file" name="logo"hidden>
                </label>
              </div>

            </form>
          </div>
<div class="col-2">
                <input type="submit" value="Save" class="btn btn-block btn-primary btn-md">
              </div>
        </div>
          </form>

        </div>
        <div class="row align-items-center mb-5">

          <div class="col-lg-4 ml-auto">
            <div class="row">
              <div class="col-6">

              </div>

            </div>
          </div>
        </div>
      </div>
    </section>

{% endblock %}
{% block content %}
{% endblock %}