{% extends 'base.html' %}
{% load static %}

{% block background %}
{% endblock %}
{% block content %}
    <section class="product_section layout_padding" id="cat">
         <div class="container">
            <div class="heading_container heading_center">
               <h2>
                  Payment <span>Status</span>
               </h2>
            </div>
         </div>
</section>
<div class="container w-25 border border-4 border-danger p-4 mb-5 bg-danger">
<h2 class="text-center text-light">Payment Successfull</h2>
    </div>

{% endblock %}